.companyLogo {
  width: 80px;
  margin-top: 5px;
}

.brand-logo {
  margin-left: 100px;
}

.nav-wrapper {
  background-color: #597081;
}

.landingPageButton {
  height: 80vh;
  object-fit: cover;
  padding: 3%;
}

.bookDisplay {
  margin: 20px 100px 0 100px;
}

.booksButton {
  margin: 10px;
}

.bookCoverImage {
  height: 30vh;
  object-fit: cover;
}

i.removeBooks {
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  margin-left: 5px;
}

i.editBooks {
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  margin-left: 5px;
}
